* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    min-height: 100vh;
    background: url("/static/img/back.jpg") no-repeat center;
    background-size: cover;
}

header {
    width: 100%;
    min-height: 50px;
    background: #111;
    position: relative;
}

.bars {
    color: white;
    font-size: 2em;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    transition: 0.5s linear;
    display: none;
}

.bars.rotate {
    transform: translateY(-50%) rotate(180deg);
}

.logo {
    float: left;
    margin-left: 100px;
    line-height: 50px;
}

.logo h1 {
    color: red;
    font-weight: 900;
    text-transform: uppercase;
}

#navbar {
    float: right;
    margin-right: 100px;
    background: #111;
}

#navbar > li {
    list-style: none;
    display: inline-block;
    line-height: 50px;
}

#navbar > li:hover {
    background: red;
}
header a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 25px;
}

.menu-one {
    position: absolute;
    width: 100%;
    left: -100%;
    background: whitesmoke;
    display: flex;
    justify-content: space-around;
    box-shadow: 0 0 3px #000;
}

.drop-one:hover > .menu-one {
    left: 0;
}

.menu-one ul {
    flex: 1;
    text-align: center;
    list-style: none;
    padding: 10px;
}

.menu-one ul h4 {
    text-transform: uppercase;
    color: teal;
    font-size: 20px;
    font-weight: 900;
}

.menu-one ul a {
    color: black;
}

.menu-one ul img {
    width: 100%;
    display: block;
    object-fit: cover;
}

.drop-two {
    position: relative;
}

.menu-two {
    position: absolute;
    list-style: none;
    background: #555;
    left: 0;
    display: none;
}

.menu-two li:hover {
    background: orange;
}

.drop-two:hover > .menu-two {
    display: block;
}

span {
    display: inline-block;
    margin-left: 5px;
    transition: 0.3s;
}

.drop-two:hover span,
.drop-one:hover span {
    transform: rotate(-180deg);
}

@media (max-width: 1100px) {
    .logo, #navbar {
        margin: 0;
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 950px) {
    #navbar {
        position: absolute;
        top: 50px;
        left: -100%;
        text-align: left;
        transition: 0.5s linear;
    }

    #navbar li {
        display: block;
    }

    .menu-one {
        position: relative;
        box-shadow: none;
        display: none;
    }

    .drop-one:hover > .menu-one {
        display: block;
    }

    .menu-one ul {
        text-align: left;
    }

    .menu-two {
        position: relative;
    }

    .bars {
        display: block;
    }

    #navbar.active {
        left: 0;
    }
}